.leftNav
{
    /* background-color: rgb(7, 3, 12) !important; */
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
    position: relative;
}
.nav a
{
    color: black !important;
    text-decoration: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    color: white !important;
    background-color: rgb(7, 3, 12) !important;
}

.nav a:active
{
    color: white !important;
    text-decoration: none !important;
}
